# You're playlist file that you exported from iTunes.
playlist: /path/to/your/playlist.xml

# The codecs that your mp3 player supports. The first is what your unsupported
# files will be encoded to.
supported_codecs:
  - mp3
  - aac

# Where your processed files will be saved.
library_directory: /path/to/library/
