# You're playlist file that you exported from iTunes.
playlist: /path/to/your/playlist.xml

# The codecs that your mp3 player supports. The first is what your unsupported
# files will be encoded to.
supported_codecs:
  - mp3
  - aac

# Where your processed files will be saved.
library_path: /path/to/library/

# How to organise files within your library.
#   %n    track number
#   %a    artist
#   %A    album
#   %t    song title
#   %y    year
library_directory_format: '%a/[%y] %A/'
